<!-- HTML5 -->
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>TAO Frontend Specialist Test</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <meta name="description" content="TAO Frontend Specialist Test">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
</head>

<body>
  <header>
    <p class="sr-only">Welcome to TAO Frontend Specialist Test!</p>
  </header>
  <nav></nav>
  <main>
    <section>
      <header></header>
      <article>
        <header></header>
        <p></p>
        <aside></aside>
        <footer></footer>
      </article>
      <article>
        <header></header>
        <p></p>
        <p></p>
        <footer></footer>
      </article>
    </section>
  </main>
  <footer></footer>
</body>

</html>